@font-face {
   font-family: 'Cocomat Light-trial';
   font-display: swap;
   src: url('file:///C:/Users/usert/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-25_135351/fonts/Cocomat%20Light-trial/font.ttf');
}
