@font-face {
   font-family: 'Amsterdam Personal Use';
   font-display: swap;
   src: url('Amsterdam Personal Use/font.ttf');
}
@font-face {
   font-family: 'Cocomat Light-trial';
   font-display: swap;
   src: url('Cocomat Light-trial/font.ttf');
}
@font-face {
   font-family: 'AntipastoPro-DemiBold_trial';
   font-display: swap;
   src: url('AntipastoPro-DemiBold_trial/font.ttf');
}
@font-face {
   font-family: 'Night Zone';
   font-display: swap;
   src: url('Night Zone/font.ttf');
}
