@font-face {
   font-family: 'HARLOWSI';
   font-display: swap;
   src: url('HARLOWSI/font.TTF');
}
@font-face {
   font-family: 'Playball-Regular';
   font-display: swap;
   src: url('Playball-Regular/font.ttf');
}
@font-face {
   font-family: 'Back to Black Bold Demo';
   font-display: swap;
   src: url('Back to Black Bold Demo/font.ttf');
}
