@font-face {
   font-family: 'Back to Black Bold Demo';
   font-display: swap;
   src: url('file:///C:/Users/usert/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-03_091343/fonts/Back%20to%20Black%20Bold%20Demo/font.ttf');
}
