@font-face {
   font-family: 'Amsterdam Personal Use';
   font-display: swap;
   src: url('file:///C:/Users/usert/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-25_135351/fonts/Amsterdam%20Personal%20Use/font.ttf');
}
