@font-face {
   font-family: 'Night Zone';
   font-display: swap;
   src: url('file:///C:/Users/usert/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-25_135351/fonts/Night%20Zone/font.ttf');
}
