@font-face {
   font-family: 'HARLOWSI';
   font-display: swap;
   src: url('file:///C:/Users/usert/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-03_091343/fonts/HARLOWSI/font.TTF');
}
