@font-face {
   font-family: 'Playball-Regular';
   font-display: swap;
   src: url('file:///C:/Users/usert/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-03_091343/fonts/Playball-Regular/font.ttf');
}
